<div class="row">
    <div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let luxury of luxurys">
    <div class="card h-100">
        <a href="/product/{{luxury.id}}"><img class="card-img-top" [src]="luxury.img" alt=""></a>
        <div class="card-body"> 
          <h4 class="card-title">
            <a href="#">{{luxury.name}}</a>
          </h4>
          <h5>${{luxury.price}}</h5>
          <p class="card-text">{{luxury.desc}}</p>
          <p class="card-text">{{luxury.status }}</p>
        </div>
        
    </div>
    </div>
</div>